body {
  font-family: Arial;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.form input,
.form select {
  margin: 10px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}
